<header class="navbar navbar-static-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<%= link_to 'Command Generator for Create Database', root_path, :id => 'logo' %>
		</div>
	</div>
</header>
